.v-enter-active, .v-leave-active{
	transition: opacity 1s;
}
/*opacity:0から1へのフェードイン&フェードアウト*/
.v-enter, .v-leave-to {
	opacity: 0;
}

.tuyoi {
	color: red;
}

.input {
  width: 200px;
  height: 30px;
  font-size: 16px;
  border: none;
  outline: 0;
  border-bottom: 1px solid #d1d5db;
}
img {
	opacity: 1;
	transition: opacity 1s;
}

img.hide {
	opacity: 0;
}